.logo{
      width: 10%;
}
.main-left{
     width: 300px; 
}
.medium{
      width: 70%;
      border: 0.5px solid black;
      border-top: none;
}
.main-right{
      width: 300px !important;
}
.title{
      background: #DFF0D8;
}
.title h3{
      color: #000066;
}
.regions{
      gap: 1px;
}
.region{
      background: #F4FEFF;
      text-align: center;
      border: 1px solid #000066;
}
.reg-name{
      font-weight: bold;
}
li{
      margin-top: 10px;
}